.destSection {
  text-align: center;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.topText {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.title {
  font-size: 42px;
  font-weight: 800;
  color: #162447;
  margin-bottom: 60px;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.card {
  width: 285px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.3s ease;
}
.content {
  position: relative;
  z-index: 2;
}

.card:hover {
  transform: translateY(-10px);
}

.img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.info {
  padding: 18px 20px;
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}

.duration {
  font-size: 13px;
  color: #666;
}
